<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" version="5.0">
    <filter>
        <filter-name>CORSFilter</filter-name>
        <filter-class>com.eventrecommender.filter.CORSFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CORSFilter</filter-name>
        <url-pattern>/*</url-pattern> <!-- Apply to all requests -->
    </filter-mapping>
</web-app>
